body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-h1 {
  color: rgb(55,68,88);
  font-weight: 600!important;
  font-size: 1.2rem!important;
} 

.tabContainer {
background-color: rgb(236,241,245);
min-height: 100vh;
margin-top: 0px !important;
padding-top: 1px;
}

.MuiTab-root {
min-height: 40px!important;
}

.MuiTabs-root {
min-height: 40px!important;
}


.MuiTab-textColorInherit.Mui-selected span{
font-weight: 900!important;
color: rgb(71,140,220);
}

.MuiTabs-indicator {
background-color: rgb(71,140,220)!important;
}

.makeStyles-searchIcon-5 {
  display: flex;
  
}

.makeStyles-searchIcon-5 svg {
  align-self: center;
}